<H1>Data Science Tools and Ecosystem</H1>

# In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
<li>
<ul> Popular languages in Data Science </ul>
<ul> Commonly used Libraries </ul>
<ul> Data Science Tools </ul>
<ul> Evaulating Arithmetic Expression </ul>
</li>

<H2>Data Science Languages</H2>

<H2> Some of the popular languages that Data Scientists use are:</H2>

<li> 
<ol> SQL </ol>
<ol> Python</ol>
<ol> R </ol>
<ol> Java </ol>
<ol> Scala </ol>
<ol> C/C++ </ol>
<ol> JavaScript </ol>
</li>

<H2> Some of the commonly used libraries used by Data Scientists include:</H2> 
<li> 
<ol> Panda </ol>
<ol> NumPy </ol>
<ol> Scikit-learn </ol>
<ol> Matplotlib </ol>
<ol> TensorFlow </ol>
<ol> Scipy </ol>
<ol> Keras </ol>
<ol> Pytorch </ol>   
</li>

<H2> Data Science Tools </H2>
<table>
<tr>
<td> Apache Spak </td> 
</tr>
<tr>
<td> Jupyter </td>
</tr>
<tr>
<td> Tableau </td>
</tr> 
<tr>
<td> Python </td>
<tr>
<td> Scikit-learn </td>
</tr>
<tr>
<td> Apache Hadoop </td>
</tr>
<td> Excel </td>
</tr>
<tr>
<td> SAS </td>
</tr>
<tr>
<td> Ggplot2 </td> 
</tr> 
</table>

<H3>Evaluating arithmetic expressions in Python.</H3>

In [9]:
math = (3*4) + 5
print(math)

17

In [7]:
# This will convert 200 minutes to hours
minutes = 200 
hours = 60 
print(minutes/hours)

3.3333333333333335

<H2> Author: 
     Bright </H2>